* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, rgb(223, 13, 13) 0%, rgb(77, 243, 48) 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

header {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    text-align: center;
}
div input,div button,div p{
    margin-top: 15px;
}
div label,div p{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
}
div input,
div button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
